body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/TheWitcher3.jpg");
  font-family: "Pathway Gothic One", sans-serif;
}

div.wrapper {
  margin: 20px 10px;
  display: inline-block;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  margin: 5px 0;
}

ul li h2 {
  margin: 10px 0;
  font-size: 28px;
}

ul li a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}

ul li:hover span {
  text-shadow: 0 0 30px #000;
}
